# Example OANDA grid bot configuration file
#
# To calculate MINIMUM required budget per a single asset:
#   For EURUSD (Finance rate of $0.02) at worst case price (WCP) of $2 for a stoploss (SL) of 20 grids:
#       Starting Unit size (EXAMPLE ONLY) is 73, add SL levels, so 93 is the value we test for.
#       As a safety, DOUBLE the finance rate, so a rate of 0.02 becomes 0.04. (This is optimal, but recommended).
#
#       ((Units*WCP)*SL*RATE
#       (93*2)*20*0.04=$149.80, now double it for the 50% margin rule,
#       A MINIMUM budget of $298 (rounded) is REQUIRED for THIS ASSET ONLY to avoid liquidation.
#
#   ===> THIS MUST BE DONE FOR EACH AND EVERY ASSET to PROVIDE THE BEST PROTECTION AGAINST LIQUIDATION.
#   ===> THIS IS NOT A GUARENTEE, BUT THE BEST REASONABLE DEFENSE.
#   ===> LESS IS ALWAYS MORE WITH RISK ASSESSMENT. TRADE APPRIPRIATE TO YOUR RISK LEVEL.
#
# ALL elements required:
#
# Element       Meanning/Example 
# Account       The name of the account from the Jackrabbit Relay config file, ie: CherryBlossom
# Asset         The instrument, ie: EUR/USD
# PipProfit     Your actual profit not counting buying/selling spread, ie: 0.0005/auto
# MarginPips    Convert margin used into pip movements, a defensive measure that buys
#               less as you accumulate more. Yes/No/Auto
# UnitPips      Convert usits of highest order is to pip movements, like above, this
#               defensive approach slows buying down as you accumulate more. Yes/No/Auto
# UnitStart     The starting purchase lot size or prime
# UnitStep      the scaling lot size or prime
# MarginLimit   The maximum amount of margin to be used, can be a percentage or -1 for
#               no limit
# Direction     Direction of trading, Long/Short
# Clustering    Allow clustering orders, Yes/No
# ClusterStyle  Either Aggressive or Defensive. 
#               Aggressive uses the highest unit size.
#               Defensive uses the lowest unit size.
# Confidence    Price consolidation confidence (%), 99.73, the rquired minimum for a clustered
#               replacement purchase
# Confirmation  Orderbook direction confirmation, used only in clustering replacement orders.
#               Clustering will NOT be allowed unless the direction of the orderbook is
#               explicitly in the direction of the trade. for example, if you are shoting a
#               market, then the orderbook must be weighted or in the direction of shorting.
#               Yes/No
# Volatility    Determine whether to measure the market volatility and convert it to pips. Yes/No/Auto
# FrequencyBoost Yes/No/Always. If this is Yes, boost the lot size by the frequency count. EXTREMELY AGGRESSIVE
#                Always is an ultra extreme approach. WILL WRECK YOU IF YOU ARE NOT CAREFUL!
# StopLoss      This is the number of maximum positions allowed. If you want to buy and already have X positions, 
#               the oldest will be sold off before the buy takes place.

{ "Account":"CherryBlossom","Asset":"EUR/USD","PipProfit":"Auto","FrequencyBoost":"No","MarginPips":"No","UnitPips":"No","UnitStart":"Prime","UnitStep":"1","MarginLimit":"37%","Direction":"Short","Clustering":"No","ClusterStyle":"Defensive","Confidence":"99.73","Confirmation":"Yes","Volatility":"No","StopLoss":"20" }
{ "Account":"CherryBlossom","Asset":"USD/CHF","PipProfit":"Auto","FrequencyBoost":"No","MarginPips":"No","UnitPips":"No","UnitStart":"Prime","UnitStep":"1","MarginLimit":"37%","Direction":"Short","Clustering":"No","ClusterStyle":"Defensive","Confidence":"99.73","Confirmation":"Yes","Volatility":"No","StopLoss":"20" }

#{ "Account":"Cheesecake","Asset":"EUR/USD","PipProfit":"Auto","FrequencyBoost":"Yes","MarginPips":"Yes","UnitPips":"Yes","UnitStart":"Prime","UnitStep":"Prime","MarginLimit":"0","Direction":"Long","Clustering":"No","ClusterStyle":"Defensive","Confidence":"99.73","Confirmation":"Yes","Volatility":"Yes" }
