# Example OANDA grid bot configuration file
#
# ALL elements required:
#
# Element       Meanning/Example 
# Account       The name of the account from the Jackrabbit Relay config file, ie: CherryBlossom
# Asset         The instrument, ie: EUR/USD
# PipProfit     Your actual profit not counting buying/selling spread, ie: 0.0005
# MarginPips    Convert margin used into pip movements, a defensive measure that buys
#               less as you accumulate more. Yes/No
# UnitPips      Convert usits of highest order is to pip movements, like above, this
#               defensive approach slows buying down as you accumulate more. Yes/No
# UnitStart     The starting purchase lot size or prime
# UnitStep      the scaling lot size or prime
# MarginLimit   The maximum amount of margin to be used, can be a percentage or -1 for
#               no limit
# Direction     Direction of trading, Long/Short
# Clustering    Allow clustering orders, Yes/No
# ClusterStyle  Either Aggressive or Defensive. 
#               Aggressive uses the highest unit size.
#               Defensive uses the lowest unit size.
# Confidence    Price consolidation confidence (%), 99.73, the rquired minimum for a clustered
#               replacement purchase
# Confirmation  Orderbook direction confirmation, used only in clustering replacement orders.
#               Clustering will NOT be allowed unless the direction of the orderbook is
#               explicitly in the direction of the trade. for example, if you are shoting a
#               market, then the orderbook must be weighted or in the direction of shorting.
#               Yes/No
# Volatility    Determine whether to measure the market volatility and convert it to pips. Yes/No

{ "Account":"CherryBlossom","Asset":"EUR/USD","PipProfit":"5", "MarginPips":"No","UnitPips":"No", "UnitStart":"Prime","UnitStep":"Prime","MarginLimit":"37%","Direction":"Short","Clustering":"Yes","ClusterStyle":"Aggressive","Confidence":"99.73","Confirmation":"Yes","Volatility":"Yes" }
{ "Account":"CherryBlossom","Asset":"HKD/JPY","PipProfit":"50","MarginPips":"Yes","UnitPips":"Yes","UnitStart":"Prime","UnitStep":"Prime","MarginLimit":"0.0000","Direction":"Short","Clustering":"No","ClusterStyle":"Defensive","Confidence":"99.73","Confirmation":"Yes" }
